<div class="container-general">
    <div class="image">
        <img src="/public/assets/visit-peru-2.webp" alt="" />
    </div>
    <div class="info">
        <div class="info-text">
            <h1>Perú: Tierra de Historia y Cultura</h1>
        <p>
            Perú es un país ubicado en América del Sur, conocido por su rica
            herencia cultural y biodiversidad. Desde la antigua civilización
            Inca hasta la vibrante cultura contemporánea, Perú ofrece un
            fascinante contraste entre tradición y modernidad. Su geografía es
            diversa, abarcando desde la costa del Pacífico hasta las alturas de
            los Andes y la vasta selva amazónica. Machu Picchu, una de las siete
            maravillas del mundo, es un testimonio de su historia milenaria.
            Además, Perú es famoso por su exquisita gastronomía, que mezcla
            ingredientes autóctonos con influencias internacionales, creando una
            experiencia culinaria única.
        </p>
        <br>
        <a href="#"><button><strong>Conocer Perú</strong></button></a>
        </div>
    </div>
</div>
<style>
    .container-general{
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
    }
    .image img{
        width: 440px;
        height: 600px;
        border-radius: 10px;
    }
    .info-text{
        color: rgb(254, 232, 232);
       text-align: justify;
        width: 400px;
    }
    .info-text p{
        color: rgb(212, 212, 212);
        font-size: 17px;
        font-family:'Times New Roman', Times, serif;
    }
    .info-text a button{
        background: linear-gradient(to right, red 33%, white 33%, white 66%, red 66%);
        height: 50px;
        color: rgb(0, 0, 0);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 1s;
        border:none;
    }
    .info-text a button:hover{
        background: rgba(243, 89, 6, 0.847);
        color: #fff;
    }
</style>
